<nav role="navigation" class="menu-store  menu-sub-dinamico">
    <ul class="list-menu symbols nav-justified">
        {% set id_taxo = settings.idscateg|split(',') %}
        {% for taxo in categories %}
            {% if taxo.id in id_taxo %}
                {% if loop.index <= limit or not limit %} 
                    <li class="item-menu color-detail-bg-hover" id="menu-{{ taxo.id }}">
                        <h3>
                            <a href="{{ taxo.link }}" class="link-menu">
                            {% if settings.enable_icon_menu == "sim" %}
                            <!--icones nas categorias-->
                            <div class="menu-icon">
                                <img class="lazy align-middle" src="{{themePath}}img/icones/{{taxo.id}}.svg?refresh=2" alt="icones">
                            </div>
                            {% endif %}
                            {{ taxo.name }}
                            {% if taxo.children > 0 %}
                            
                            {% endif %}
                            </a>
                        </h3>
                        {% if taxo.children > 0 %}
                        <div class="menu-sub color-detail-border">
                            <ul class="menu-heir">
                                
                                {% for taxo_heir in taxo.children %}
                                    <li class="menu-item-heir">
                                        <h4>
                                            {% if taxo_heir.children > 0 %}
                                            <i class="before-arrow fas fa-angle-down"></i>
                                            {% endif %}
                                            <a href="{{ taxo_heir.link }}" class="link-menu-heir">{{ taxo_heir.name }}</a>
                                        </h4>
                                        <!--3nivel-->
                                        {% if taxo_heir.children  %}
                                            <div class="menu-filos">
                                            
                                            {% for child in taxo_heir.children %}
                                                <h5>
                                                    <a href="{{ child.link }}">{{ child.name }}</a>
                                                </h5>
                                            {% endfor %}
                                            </div>
                                        {% endif %}
                                        
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
               {% endif %}
            {% endif %}
        {% endfor %}
        
        
        {% if settings.exibir_menu_ofertas == "sim" %}
        <li class="item-menu color-detail-bg" id="menu-ofertas">
            <h3>
                <a href="{{ settings.linkofertas }}" class="link-menu">
                <!--icones nas categorias-->
                <div class="menu-icon">
                    <img class="align-middle" src="{{themePath}}img/icones/icone-ofertas.svg" alt="icone">
                </div>
                {{ settings.nomeofertas }}
                <i class="fas fa-angle-down"></i>
                </a>
            </h3>
            <div class="menu-sub menu-sub-ofertas color-detail-border">
                <ul class="menu-heir">
                    <div class="row">
                        <div class="col-sm-12">
                            {% if pages.current in ['home','catalog','search'] %}
                                <!-- COUNTDOWN OFERTAS RELAMPAGO -->
                                {% set id_categcountdown_showcase = settings.idscategcountdownmenu|split(',') %}
                                
                                <!-- PRODUTOS EM OFERTA -->
                                {% if showAvailable %}
                                    {% set promocao = Products({
                                        "filter": ['promotion', showAvailable],
                                        "limit": limitProducts,
                                        'order': {'quantity_sold': 'desc'},
                                        'categories': id_categcountdown_showcase
                                    }) %}
                                {% else %}
                                    {% set promocao = Products({
                                        "filter": "promotion",
                                        "limit": limitProducts,
                                        "order": "rand",
                                        'categories': id_categcountdown_showcase
                                    }) %}
                                {% endif %}
                                
                                {% if promocao|length > 0 %}
                                <div class="slider-countdownlayers countdown-bg">
                                    <div class="display-slider">
                                        <div class="cont-right">
                                            <div class="countdown-painellayers">
                                                <div class="datacountdownlayersmenu">{{ settings.datacountdownlayersmenu }}</div>
                                                <div class="horacountdownlayersmenu">{{ settings.horacountdownlayersmenu }}</div>
                                                <div class="mensagemcountdownlayers">{{ settings.mensagemcountdownlayers }}</div>
                                                <div class="title-countdownlayers">Ofertas terminam em:</div>
                                                <span class="clockcountdownlayersmenu"></span>
                                                <span class="triangle"></span>
                                            </div>
                                        
                                            <!--DISPLAY-->
                                            {% element 'snippets/countdown-display-slider' {
                                               "showcaseTitle": "Produtos em Ofertas",
                                               "products": promocao
                                            } %}
                                        </div>
                                    </div><!--/ display -->
                                </div>
                                {% endif %}
                                <!-- / countdown -->
                            {% else %}
                                <div class="ofertasmenu">
                                    {% if banners.extra12 %}
                                        <section class="banners">
                                          {{ banner.extra12 }}
                                        </section>
                                    {% else %}
                                        <a class="color-detail-bg ofertasmenubotao" href="{{ settings.linkofertas }}" class="link-menu">
                                            clique e conheï¿½a!
                                        </a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </ul>
            </div>
        </li>
        {% endif %}
        
    </ul>
</nav>