<div class="search-custom-nkol nkol-custom-catalog">
    <div class="search-extra-code">
        
        <!-- pure-u-lg-12-24
        {% if breadcrumb %}
        <div class="vspace-sm">
            {% element 'snippets/breadcrumb' %}
        </div>
        {% endif %}
        -->
    </div>

    {% if products|length > 0 %}
    
    <!-- FILTRO -->
    {% if settings.exibirfiltro == "sim" %}
    
        <!-- filtro -->
        {% if utils.is_mobile %}
            {% element 'snippets/menu-filter' %}
            <label class="dispenser-filter" for="controlTaxoFilter">
                {% if search.word %}
                        <h1 class="titletag-mobile">Buscando por: {{ search.word }}</h1>
                    {% endif %}
                <div><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><path d="M0,0h24 M24,24H0" fill="none"/><path d="M4.25,5.61C6.27,8.2,10,13,10,13v6c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-6c0,0,3.72-4.8,5.74-7.39 C20.25,4.95,19.78,4,18.95,4H5.04C4.21,4,3.74,4.95,4.25,5.61z"/><path d="M0,0h24v24H0V0z" fill="none"/></g></svg> Filtro</div>
            </label>
        {% endif %}
        <span class="hidden-xs hidden-sm col-md-2 filter-none-mobile">
            <h1 style="font-size: 23px;">Buscando por: <br>{{ search.word }}</h1>
            {% element 'snippets/smart_filter' %}
        </span>
        <!-- /filtro -->
        
        <span class="col-sm-12 col-md-10 searchpage">
            
            {% if not utils.is_mobile %}
                {% element 'snippets/display' {
                    "products": products
                } %}
            {% else %}
                <div class="search-word">
                    
                    <span class="numbercatg">
                        {% element 'snippets/pagination' %}
                    </span>
                </div>
                {% element 'snippets/display-2col' {
                    "products": products
                } %}
            {% endif %}
        </span>
        
    <!-- SEM FILTRO -->
    {% elseif settings.exibirfiltro == "nao" %}
        <span class="col-sm-12 col-md-12">
            <div class="search-word">
                {% if search.word %}
                    <h1>Buscando por: {{ search.word }}</h1>
                {% endif %}
            </div>
            {% element 'snippets/display' {
                "products": products
            } %}
        </span>
        <!-- fim filtro -->
    {% endif %}
    
    <span class="col-sm-12">
        <div class="bottom-pagination">
            {% element 'snippets/pagination' %}
        </div>
    </span>
    <div class="product-notfound">
        {% else %}
            <div class="search-word">
                {% if search.word %}
                    <h1>Buscando por: {{ search.word }}</h1>
                {% endif %}
            </div>
            <p>Nenhum produto encontrado.</p>
        {% endif %}
    </div>
</div>